# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.ilk
*.idb
*.exp

# Compiled Dynamic libraries
*.so
*.dylib
*.dll*

# Compiled Static libraries
*.lai
*.la
*.a
*.lib
*.pch

*/Debug/*
*/Release/*
*/*/Debug/*
*/*/Release/*
*/ipch/*

# Executables
*.exe
*.out
*.app

*.pdb
*.FileListAbsolute.txt
Interface.csproj*
LevelEditor.MapEditor*
*.Cashe
*.cashe
*.cache
*.Cache
*.suo
TemporaryGeneratedFile*
*.tlog
*.log
*sdf
*.lastbuildstate
*htm
*.bi
*.resources
*.exe.config
*.manifest
*.exp
